@import '~resources/scss/partials/_header.scss';
@import '~resources/scss/partials/_main.scss';
@import '~resources/scss/partials/_footer.scss';
@import '~resources/scss/partials/_single-card.scss';

@import '~resources/scss/partials/_variables.scss';
@import '~resources/scss/partials/_mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}